.getInTouchForm-container{
    max-width: 50rem;
}
.custom-shift-up {
    margin-top: -2rem; /* Adjust as needed */
}

/* .shift-left {
    margin-left:-15px; 
} */
.shift-up{
    margin-top: -1rem;
}
/* .consent-checkbox{
    margin-top: -2rem;
} */

.custom-input .slds-input{
    background-color: #aeaeae4a;
    border-radius: 15px;
}

.custom-input .slds-textarea{
    background-color: #aeaeae4a;
    border-radius: 15px;
}

/* spinner css */
.loader-dots {
	border-radius: .3em;
	color: #ffff;
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	letter-spacing: 1px;
	z-index: 9999;
}

.loader-dots:after {
	content: '....';
	width: 0;
	position: absolute;
	overflow: hidden;
	animation: loader-dots-animation 1s infinite;
}

@keyframes loader-dots-animation {
	0% { width: 0.0em; }
	50% { width: 1.2em; }
	100% { width: 0.0em; }
}

.back-drop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	opacity: 0.8;
	background: #acacac;
}

/* spinner css end*/