.search-result-block {
    width: 160px;
    padding-top: 15px;
    float: right;
    /* text-align: right; */
    /* font-size: 1.2em; */
    /* padding: 12px 18px 0 0; */    
    font-weight: bold;
    color: #FFFFFF;
}