.dummy{
	color : black;
}

.volume_discount{
	color: #61AF09;
    font-weight: bold;
    margin-bottom: 1em;
    border-bottom: 2px solid #EEEFF4;
    background: url(/images/backgrounds/volume_discount_p.gif) repeat-x #f9f9fa;
    padding: 10px 12px 16px 0px;
}

/* .volume_title {
    display: block;
    color: #4D6182;
    border-bottom: solid 1px #dadce7;
    font-size: 1.2em;
    margin-bottom: .6em;
    padding-bottom: .3em;
    width: 100%;
} */

.volume_title {
    color: #0072CE;
}