.custom-quote-btn {
    width: 100%;
    background-color: rgb(252, 186, 3, 1);  
    color: #000; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.custom-quote-btn:hover {
    background-color: rgb(188, 140, 6); 
}