.dummy{
	color : black;
}

.asc-cursor:hover{
	text-decoration: none;
 }

 .section {
    position: relative;
}

.underline {
    position: relative;
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: black; 
	top: 14px;
}

.input-container {
    margin-top: 10px; 
	display: flex;
    align-items: center;
}

.right-padding {
    padding-right: 165px;
}

.message-font {
    color: rgb(0, 102, 204);
    font-size: 18px;
}

/* .iframe{
    height: 300px;
    width: 90%;
    position: relative;
    left: 50px;
} */