.layout-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    align-items: flex-start;
}

aside.aside-section {
    width: 100%;
    margin: 15px 0px 10px 0px;
}

.pagination-control {
    width: 100%;
}

.section-results {
    width: 100%;
    /* height: 200vh;
    overflow-y: auto;
    position: relative; */
}

.search-label {
    padding-bottom: 20px;
    padding-left: 20px;
}
.searchEmptyDiv{
    min-height: 7%;
}

.min-height-custom{
    min-height: 5rem;
}

.showMoreButton{
    text-align: center;
}

/* .sticky-label-first{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.sticky-label-second{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
} */

.scroll-enabled{
    height: 80rem;
    display: grid;
}

.label-larger{
    font-size: larger;
}

@media screen and (min-width: 480px) {
    .layout-container {
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 1rem;
    }

    aside.aside-section {
        width: 25%;
        min-width: 13.75rem;
        color: #000;
        font-size: 0.875rem;
    }

    .section-results {
        width: 75%;
        margin-left: 1rem;
/* add for sticky todo */
        /* height: 200vh;
        overflow-y: auto;
        position: relative; */
    }
  }