.hex-link {
    text-decoration: none;
  }
  
  .hex-tile {
    width: 200px;
    height: 230px;
    clip-path: polygon(
      50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    margin: auto;
    transition: transform 0.2s ease;
    font-size: 1.5rem;
  }
  
  .hex-tile:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .hex-content {
    pointer-events: none;
  }