.facet-body {
    font-size: smaller;
}

.facet-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.facet-name {
    font-size: smaller;
    display: inline-block;
    align-self: flex-start;
}
.expand-button {
    align-self: flex-end;
}
@media only screen and (max-width: 48em) {
    .facet-header,
    .facet-body {
        padding: 0 1.5rem;
    }
}